nbconvert==5.3.1
bert4keras==0.9.3
requests==2.14.2
tensorflow_gpu==1.14.0
pip==20.2.2
hyperopt==0.1.2
Keras==2.2.4
numpy==1.16.4
packaging==17.1
pandas==1.0.3
nbformat==4.4.0
#scikit_learn==0.24.2
#tensorflow==2.1.1
hyperas
tornado==5.1.1
